*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
body{
    width: 100%;
    height: 100vh;
    background: #232F4D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 300px;
    height: 300px;
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
    background: #283577;
    border: 1px solid rgba(255, 255, 255, 0.24);
    border-radius: 10px;
}
.title{
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
}
.strength_title{
    align-items: flex-start;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}
.strength{
    display: flex;
    justify-content: space-between;
}
.inner_box{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    width: 80px;
    height: 35px;
    background: rgba(35, 47, 77, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.19);
    border-radius: 50px;
    cursor: pointer;
}
.generated{
    width: 100%;
    text-align: center;
    background: rgba(35, 47, 77, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.19);
    border-radius: 50px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.155em;
    padding: 5px 0px;
}
.generated:hover{
    background: rgba(40, 50, 80, 0.5);
}
.easy{
    background: rgba(0, 128, 0, 0.253);
}
.medium{
    background: rgba(255, 255, 0, 0.219);
}
.hard{
    background: rgba(255, 0, 0, 0.247);
}
.generate{
    width: 200px;
    height: 35.83px;
    color: white;
    background: rgba(35, 47, 77, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.19);
    border-radius: 50px;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}
.generate:hover{
    scale: 1.06;
}